<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <table>
        <form action="" method="get">
        <div>
            <label for="id_name">Name:</label>
            <input type="text" name="name" required id="id_name">
        </div>
        <div>
            <label for="{{form.name.id_for_label}}">Name:</label>
            <input type="text" name="name" required id="id_name">
        </div>
        <div>
            <label for="{{form.name.id_for_label}}">Name:</label>
            {{form.name}}
            {{form.email}}
        </div>
        <div>
           {{form.name.label_tag}}
            {{form.name}}
        </div>
        <div>
            {{form.name.label}}
         </div>
         <div>
            {{form.name.value}}
         </div>
         <div>
            {{form.name.html_name}}
         </div>
         <div>
            {{form.name.help_text}}
         </div>
         <div>
            {{form.name.field.required}}
         </div>
    </form>
</table>
</body>
</html>